/* #################### */
/* FOOTER */
/* #################### */

footer {
	grid-area: footer;
	background-color: var(--default-grey);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
	padding: 32px 0;
	/* margin-top: 16px; */
	font-size: 14px;
	line-height: 24px;
}

footer ul li {
	list-style: none;
}

footer .logo-footer {
	margin-left: 64px;
}

footer .social-media-icons {
	align-content: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-right: 64px;
}

footer .social-media-icons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8px;
}

footer .social-media-icons img {
	display: inline-flex;
	flex-direction: row;
}

footer .social-media-label {
	display: block;
	font-weight: 700;
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}

a.footer {
	text-decoration: none;
	color: white;
}

a.footer:hover {
	color: var(--hover-light-grey);
	text-decoration: underline;
}

/* ----------- 1280-WIDTH */
@media only screen and (min-width: 1280px) {
}

/* ----------- 960-WIDTH */
@media (max-width: 1279px) {
	footer .logo-footer {
		margin-left: 18px;
	}
}

/* ----------- 600-WIDTH */
@media only screen and (max-width: 959px) {
	footer {
		padding: 32px 32px;
	}

	footer .social-media-icons {
		display: none;
	}

	footer .logo-footer {
		display: none;
	}
}
/* ----------- 320-WIDTH */
@media only screen and (max-width: 599px) {
	footer {
		flex-direction: column;
		padding: 32px 32px 16px 32px;
		align-items: center;
	}

	footer ul {
		margin-bottom: 16px;
		text-align: center;
	}
}
