/* #################### */
/* HEADER & NAV */
/* #################### */

header {
	grid-area: header;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: flex-start;
	position: relative;
}

.logo-container {
	display: flex;
	align-items: center;
	width: 142px;
	margin-left: 64px;
	margin-right: 120px;
}

.logo {
	display: inline-block;
	/* margin-bottom: 8px; */
	z-index: 5;
}

nav {
	display: flex;
	width: 100%;
	padding: 16px 0;
}

nav ul {
	display: inline-block;
	z-index: 5;
}

nav li {
	list-style: none;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 35px;
}

nav .icon-social-media {
	width: 32px;
	height: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

nav .icon-social-media > a > img {
	margin-bottom: -6px;
}

nav .icon-social-media:hover {
	filter: brightness(3);
}

nav li .dropdown-icon {
	margin-bottom: 2px;
	margin-left: 4px;
	display: inline-block;
}

.icon-facebook {
	margin-left: 70px;
}

/* #################### */
/* DROPDOWN MENU */
/* #################### */

.dropdown-wrapper {
	display: none;
	position: absolute;
	width: 1260px;
	margin-top: -40px;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 4;
	transition: ease-in-out;
	border-bottom: 1px solid var(--default-grey);
}

.dropdown-wrapper ul {
	margin-top: 85px;
}

.dropdown-wrapper li {
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 16px;
	display: table;
	text-transform: uppercase;
	color: var(--default-grey);
}

.leistungen-sublinks,
.ueber-uns-sublinks {
	font-size: 14px;
}

.leistungen-sublinks {
	margin-left: 326px;
}

.ueber-uns-sublinks {
	margin-left: 474px;
}

.links-link {
	margin-left: 90px;
}

/* ----------- 1280-WIDTH */
@media only screen and (min-width: 1280px) {
}

/* ----------- 960-WIDTH */
@media (max-width: 1279px) {
	header {
		justify-content: space-between;
	}

	.logo-container {
		margin-left: 18px;
		margin-right: 40px;
	}

	.icon-facebook {
		margin-left: 20px;
	}

	.links-link {
		margin-left: 20px;
	}

	nav li {
		margin-right: 25px;
	}

	.dropdown-wrapper {
		width: 940px;
	}

	.leistungen-sublinks {
		margin-left: 200px;
	}

	.ueber-uns-sublinks {
		margin-left: 338px;
	}
}

/* ----------- 600-WIDTH */
@media only screen and (max-width: 959px) {
}
/* ----------- 320-WIDTH */
@media only screen and (max-width: 599px) {
}
