/* ----------- 1280-WIDTH */
@media only screen and (min-width: 1280px) {
	.wrapper {
		width: 1280px;
	}
	.wrapper-hamburger {
		display: none;
	}
	#foto_rue {
		width: 816px;
		height: 715px;
	}
	section.cards {
		width: 1260px;
	}
}

/* ----------- 960-WIDTH */
@media (max-width: 1279px) {
	#foto_rue {
		width: 736px;
		height: 644px;
		right: -140px;
	}

	.wrapper-hamburger {
		display: none;
	}

	.cards-wrapper {
		justify-content: flex-start;
	}
	section.cards {
		width: 940px;
	}

	.wrapper {
		width: 960px;
		grid-template-columns: 63% 37%;
	}

	header {
		justify-content: space-between;
	}

	.logo-container {
		margin-left: 18px;
		margin-right: 40px;
	}

	.icon-facebook {
		margin-left: 20px;
	}

	.links-link {
		margin-left: 20px;
	}

	nav li {
		margin-right: 25px;
	}

	.dropdown-wrapper {
		width: 940px;
	}

	.leistungen-sublinks {
		margin-left: 200px;
	}

	.ueber-uns-sublinks {
		margin-left: 338px;
	}

	footer .logo-footer {
		margin-left: 18px;
	}
}

/* ----------- 600-WIDTH */
@media only screen and (max-width: 959px) {
	/* .hamburger-content {
		display: flex;
    } */

	p {
		margin: 16px 0;
	}

	.btn.red {
		background: var(--default-red);
		color: white;
		margin: 16px 0px;
	}

	section.cards {
		padding: 16px 0px;
		align-items: center;
		width: 580px;
	}
	.cards-wrapper {
		justify-content: center;
	}

	#foto_rue {
		width: 542px;
		height: 474px;
		right: auto;
		position: relative;
	}

	.wrapper-hamburger {
		display: grid;
	}

	.container-btn-open-calculator-hamburger {
		display: flex;
	}

	.wrapper {
		width: 600px;
		grid-template-columns: 100%;
		grid-template-rows: 80px auto auto auto 180px;
		grid-template-areas:
			"header"
			"picture"
			"txt"
			"cards"
			"footer";
	}

	section.picture {
		justify-content: center;
		display: flex;
	}

	section.cards {
		padding-top: 0;
	}

	section.picture img {
		width: 535px;
	}

	nav {
		display: none;
	}

	.dropdown-wrapper {
		display: none;
	}

	section.text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0px 30px;
		margin-left: 0;
		background-color: white;
	}

	footer {
		padding: 32px 32px;
	}

	footer .social-media-icons {
		display: none;
	}

	footer .logo-footer {
		display: none;
	}
}

/* ----------- 320-WIDTH */
@media only screen and (max-width: 599px) {
	#foto_rue {
		width: 288px;
		height: 252px;
	}

	.container-btn-open-calculator-hamburger {
		display: none;
		margin-top: 8px;
	}

	.container-nav-items-hamburger {
		display: none;
	}

	.wrapper-hamburger {
		grid-template-columns: auto auto;
		grid-template-rows: 60px auto auto;
		grid-template-areas:
			"logo hamburger"
			"btn btn"
			"links links";
	}
	.wrapper {
		width: 320px;
		border: 10px solid white;
		grid-template-rows: 60px auto auto auto;
		margin-top: 10px;
	}

	section.picture img {
		width: 300px;
		justify-content: center;
	}

	section.cards {
		width: 300px;
	}

	footer {
		flex-direction: column;
		padding: 32px 32px 16px 32px;
		align-items: center;
	}

	footer ul {
		margin-bottom: 16px;
		text-align: center;
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 14px;
	}

	h5 {
		font-size: 14px;
	}

	p {
		font-size: 12px;
	}
}
