/* ----------- 1280-WIDTH */
@media only screen and (min-width: 1280px) {
	.wrapper {
		width: 1280px;
	}
	.hamburger-wrapper {
		display: none;
	}
}

/* ----------- 960-WIDTH */
@media (max-width: 1279px) {
	.hamburger-wrapper {
		display: none;
	}

	.wrapper {
		width: 960px;
		grid-template-columns: 63% 37%;
	}

	header {
		justify-content: space-between;
	}

	.logo {
		margin-left: 18px;
		margin-right: 40px;
	}

	.facebook-icon {
		margin-left: 20px;
	}

	.links-link {
		margin-left: 20px;
	}

	nav li {
		margin-right: 25px;
	}

	.dropdown-wrapper {
		width: 940px;
	}

	.leistungen-sublinks {
		margin-left: 224px;
	}

	.ueber-uns-sublinks {
		margin-left: 358px;
	}

	footer .logo-footer {
		margin-left: 18px;
	}
}

/* ----------- 600-WIDTH */
@media only screen and (max-width: 959px) {
	/* .hamburger-content {
		display: flex;
    } */

	.hamburger-wrapper {
		display: grid;
	}

	.hamburger-preisrechner-btn-container {
		display: flex;
	}

	.wrapper {
		width: 600px;
		grid-template-columns: 100%;
		grid-template-rows: 80px auto auto 180px;
		grid-template-areas:
			"header"
			"picture"
			"txt"
			"footer";
	}

	section.picture {
		justify-content: flex-end;
		display: flex;
	}

	section.picture img {
		width: 535px;
	}

	nav {
		display: none;
	}

	.dropdown-wrapper {
		display: none;
	}

	section.text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0px 30px;
		margin-left: 0;
	}

	footer {
		padding: 32px 32px;
	}

	footer .social-media-icons {
		display: none;
	}

	footer .logo-footer {
		display: none;
	}
}

/* ----------- 320-WIDTH */
@media only screen and (max-width: 599px) {
	.hamburger-preisrechner-btn-container {
		display: none;
	}

	.hamburger-links-container {
		display: none;
	}

	.hamburger-wrapper {
		grid-template-columns: auto auto;
		grid-template-rows: 60px auto auto;
		grid-template-areas:
			"logo hamburger"
			"btn btn"
			"links links";
	}
	.wrapper {
		width: 320px;
		border: 10px solid white;
		grid-template-rows: 60px auto auto auto;
		margin-top: 10px;
	}

	section.picture img {
		width: 300px;
		justify-content: center;
	}

	footer {
		flex-direction: column;
		padding: 32px 32px 16px 32px;
		align-items: center;
	}

	footer ul {
		margin-bottom: 16px;
		text-align: center;
	}
}
