:root {
	--default-grey: #333333;
	--hover-light-grey: #9c9c9c;
	--hover-dark-white: rgb(224, 224, 224);
	--default-red: #ea5659;
	--default-red-hover: #ff7b7d;
	--card-header-grey: #e5e5e5;
}

/* #################### */
/* HAMBURGER */
/* #################### */

.hamburger-wrapper {
	position: relative;
	display: grid;
	width: 100%;
	margin: 0;
	grid-template-columns: auto auto auto;
	grid-template-rows: 80px auto;
	grid-template-areas:
		"logo btn hamburger"
		"links links links";
	color: white;
	font-size: 14px;
	background: rgba(0, 0, 0, 0);
}

.hamburger-logo-container {
	grid-area: logo;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-left: 3px;
}

.hamburger-logo-container > img {
	width: 142px;
}

.hamburger-icon-container {
	grid-area: hamburger;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-right: 2px;
}

.hamburger-icon-container img {
	/* filter: brightness(10); */
	width: 32px;
	cursor: pointer;
}

.hamburger-icon-container img:hover {
	filter: brightness(3);
}

.hamburger-preisrechner-btn-container {
	grid-area: btn;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hamburger-links-container {
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 16px;
	text-align: center;
	grid-area: links;
}

.hamburger-links-container ul {
	margin-bottom: 16px;
	line-height: 32px;
	width: 100%;
}

.hamburger-links-container ul li {
	width: 300px;
}

.bright {
	filter: brightness(10);
}

.bright:hover {
	filter: brightness(3);
}

.hamburger-wrapper a {
	color: white;
}

.hamburger-wrapper a:hover {
	color: var(--hover-dark-white);
}

.hamburger-category {
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	margin-bottom: 8px;
}

.hamburger-social-media {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 16px;
	padding: 0 80px;
}

.hamburger-social-media a {
	filter: brightness(10);
}

.hamburger-social-media a:hover {
	filter: brightness(3);
}

/* #################### */
/* GENERAL */
/* #################### */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.15s;
	font-family: Montserrat;
	font-style: normal;
	list-style: none;
}

.facebook-icon {
	margin-left: 90px;
}

body {
	background-color: white;
}

section.text {
	grid-area: txt;
	padding-left: 64px;
}

section.picture {
	grid-area: picture;
	padding-top: 30px;
}

footer {
	grid-area: footer;
	background-color: var(--default-grey);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
	padding: 32px 0;
	margin-top: 16px;
	font-size: 14px;
	line-height: 24px;
}

footer ul li {
	list-style: none;
}

footer .logo-footer {
	margin-left: 64px;
}

footer .social-media-icons {
	align-content: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-right: 64px;
}

footer .social-media-icons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8px;
}

footer .social-media-icons img {
	display: inline-flex;
	flex-direction: row;
}

footer .social-media-label {
	display: block;
	font-weight: 700;
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}

.wrapper {
	border-style: inset;
	border: 10px solid white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 47% 53%;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"header header"
		"txt picture"
		"footer footer";
	overflow: hidden;
	box-shadow: -24px 0px 30px rgba(0, 0, 0, 0.15), 24px 0px 30px rgba(0, 0, 0, 0.15);
}

a {
	text-decoration: none;
	color: var(--default-grey);
}

a:hover {
	color: var(--hover-light-grey);
	text-decoration: underline;
}

header {
	grid-area: header;
	border-bottom: 1px solid var(--default-grey);
	display: flex;
	align-items: flex-start;
	position: relative;
}

.logo {
	display: inline-block;
	width: 142px;
	margin-left: 64px;
	margin-right: 120px;
	margin-bottom: 8px;
	z-index: 5;
}

nav {
	display: flex;
	width: 100%;
	padding: 16px 0;
}

nav ul {
	display: inline-block;
	z-index: 5;
}

nav li {
	list-style: none;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 35px;
}

nav .social-media-icon > a > img {
	margin-bottom: -6px;
}

nav .social-media-icon:hover {
	filter: brightness(3);
}

nav li .dropdown-icon {
	margin-bottom: 2px;
	margin-left: 4px;
	display: inline-block;
}

.dropdown-wrapper {
	display: none;
	position: absolute;
	width: 1260px;
	margin-top: -40px;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 4;
	transition: ease-in-out;
	border-bottom: 1px solid var(--default-grey);
}

.dropdown-wrapper ul {
	margin-top: 85px;
}

.dropdown-wrapper li {
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 16px;
	display: table;
	text-transform: uppercase;
	color: var(--default-grey);
}

.leistungen-sublinks,
.ueber-uns-sublinks {
	font-size: 14px;
}

.leistungen-sublinks {
	margin-left: 326px;
}

.ueber-uns-sublinks {
	margin-left: 474px;
}

.links-link {
	margin-left: 90px;
}

.btn {
	width: 150px;
	height: 44px;
	border-radius: 44px;
	padding: 14px 20px;
	flex-direction: column;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	align-self: center;
}

.btn.red {
	background: var(--default-red);
	color: white;
	margin: 20px 0px;
}

.btn.red:hover {
	background: var(--default-red-hover);
}

.btn.outline {
	border: 2px solid var(--default-grey);
	background: white;
	color: var(--default-grey);
}

.btn.outline:hover {
	background: var(--default-grey);
	color: white;
}

h5 {
	font-weight: bold;
	font-size: 18px;
	line-height: 100%;
	text-decoration-line: underline;
	color: var(--default-grey);
	margin-top: 30px;
}

h1 {
	/* MAIN/Headline */
	font-weight: bold;
	font-size: 36px;
	line-height: 100%;
	text-decoration-line: underline;
	color: var(--default-grey);
	margin-top: 8px;
}

h4 {
	/* MAIN/H4 */
	font-family: Merriweather;
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	line-height: 164%;
	margin-top: 16px;
	color: var(--default-grey);
	white-space: pre-wrap;
}

p {
	/* MAIN/Copy */
	font-family: Merriweather;
	font-weight: 300;
	font-size: 16px;
	line-height: 200%;
	margin-top: 30px;
	color: var(--default-grey);
	white-space: pre-wrap;
}

p strong {
	font-weight: 700;
}

p a {
	text-decoration: underline;
}
