:root {
	--default-grey: #333333;
	--hover-light-grey: #9c9c9c;
	--hover-dark-white: rgb(224, 224, 224);
	--default-red: #ea5659;
	--default-red-hover: #ff7b7d;
	--card-header-grey: #e5e5e5;
}

.hamburger-wrapper {
	height: 80px;
	position: relative;
	display: none;
}

.hamburger-content {
	background-color: rgba(0, 0, 0, 0.75);
	width: 580px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	display: none;
	color: white;
	font-size: 14px;
	padding-bottom: 32px;
	display: none;
}

.bright {
	filter: brightness(10);
}

.hamburger-content a {
	color: white;
}

.hamburger-content a:hover {
	color: var(--hover-dark-white);
}

.hamburger-logo > img {
	width: 120px;
	margin-top: 25px;
	margin-left: 12px;
}

.hamburger-icon img {
	justify-content: flex-end;
	margin-top: 25px;
	margin-right: 12px;
	/* filter: brightness(10); */
	cursor: pointer;
}

.hamburger-icon img:hover {
	filter: brightness(3);
}

.hamburger-links {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 16px;
	text-align: center;
}

.hamburger-links ul {
	margin-bottom: 16px;
	line-height: 32px;
}

.hamburger-preisrechner {
	margin-top: 16px;
}

/* .hamburger-ueber-uns {
	margin-top: 32px;
} */

/* .hamburger-links ul li {
	border: 1px solid green;
}

.hamburger-leistungen {
	border: 1px solid white;
} */

.hamburger-category {
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 16px;
	margin-bottom: 8px;
}

.hamburger-social-media {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 16px;
	padding: 0 84px;
}

.hamburger-social-media a {
	filter: brightness(10);
}

.hamburger-social-media a:hover {
	filter: brightness(3);
}

.flex-col-1 {
	display: flex;
	flex: 1;
}

.flex-col-2 {
	display: flex;
	justify-content: center;
	flex: 2;
	padding-left: 48px;
}

.flex-col-3 {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.15s;
	font-family: Montserrat;
	font-style: normal;
	list-style: none;
}

.facebook-icon {
	margin-left: 90px;
}

body {
	background-color: white;
}

section.text {
	grid-area: txt;
	padding-left: 64px;
}

section.picture {
	grid-area: picture;
	padding-top: 30px;
}

footer {
	grid-area: footer;
	background-color: var(--default-grey);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
	padding: 32px 0;
	margin-top: 16px;
	font-size: 14px;
	line-height: 24px;
}

footer ul li {
	list-style: none;
}

footer .logo-footer {
	margin-left: 64px;
}

footer .social-media-icons {
	align-content: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-right: 64px;
}

footer .social-media-icons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8px;
}

footer .social-media-icons img {
	display: inline-flex;
	flex-direction: row;
}

footer .social-media-label {
	display: block;
	font-weight: 700;
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}

.wrapper {
	border-style: inset;
	border: 10px solid white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 47% 53%;
	grid-template-rows: 126px auto auto;
	grid-template-areas:
		"header header"
		"txt picture"
		"footer footer";
	overflow: hidden;
	box-shadow: -24px 0px 30px rgba(0, 0, 0, 0.15), 24px 0px 30px rgba(0, 0, 0, 0.15);
}

a {
	text-decoration: none;
	color: var(--default-grey);
}

a:hover {
	color: var(--hover-light-grey);
	text-decoration: underline;
}

header {
	grid-area: header;
	border-bottom: 1px solid var(--default-grey);
	display: block;
	position: relative;
}

.logo {
	display: inline-block;
	margin-left: 64px;
	margin-right: 120px;
	margin-bottom: 8px;
	z-index: 5;
}

nav {
	display: flex;
	width: 100%;
	margin-top: 35px;
}

nav ul {
	display: inline-block;
	z-index: 5;
}

nav li {
	list-style: none;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 35px;
}

nav .social-media-icon > a > img {
	margin-bottom: -6px;
}

nav .social-media-icon:hover {
	filter: brightness(3);
}

nav li .dropdown-icon {
	margin-bottom: 2px;
	margin-left: 4px;
	display: inline-block;
}

.dropdown-wrapper {
	display: none;
	position: absolute;
	width: 1260px;
	margin-top: -40px;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 4;
	transition: ease-in-out;
	border-bottom: 1px solid var(--default-grey);
}

.dropdown-wrapper ul {
	margin-top: 85px;
}

.dropdown-wrapper li {
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 16px;
	display: table;
	text-transform: uppercase;
	color: var(--default-grey);
}

.leistungen-sublinks,
.ueber-uns-sublinks {
	font-size: 14px;
}

.leistungen-sublinks {
	margin-left: 326px;
}

.ueber-uns-sublinks {
	margin-left: 474px;
}

.links-link {
	margin-left: 90px;
}

.btn {
	width: 150px;
	height: 45px;
	border-radius: 45px;
	padding: 14px 20px;

	flex-direction: column;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
	border: none;
	text-transform: uppercase;

	align-self: center;
	cursor: pointer;
}

.btn.red {
	background: var(--default-red);
	color: white;
	margin: 20px 0px;
}

.btn.red:hover {
	background: var(--default-red-hover);
}

.btn.outline {
	border: 2px solid var(--default-grey);
	background: white;
	color: var(--default-grey);
}

.btn.outline:hover {
	background: var(--default-grey);
	color: white;
}

h5 {
	font-weight: bold;
	font-size: 18px;
	line-height: 96.5%;
	text-decoration-line: underline;
	color: var(--default-grey);
	margin-top: 30px;
}

h1 {
	/* MAIN/Headline */
	font-weight: bold;
	font-size: 36px;
	line-height: 103.5%;
	text-decoration-line: underline;
	color: var(--default-grey);
	margin-top: 8px;
}

h4 {
	/* MAIN/H4 */
	font-family: Merriweather;
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	line-height: 165%;
	margin-top: 16px;
	color: var(--default-grey);
	white-space: pre-wrap;
}

p {
	/* MAIN/Copy */
	font-family: Merriweather;
	font-weight: 300;
	font-size: 16px;
	line-height: 200%;
	margin-top: 30px;
	color: var(--default-grey);
	white-space: pre-wrap;
}

p strong {
	font-weight: 700;
}

p a {
	text-decoration: underline;
}
