/* #################### */
/* FOOTER */
/* #################### */

.mr-16 {
	margin-right: 16px;
}

footer {
	grid-area: footer;
	background-color: var(--default-grey);
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
	padding: 0 64px;
	font-size: 14px;
	line-height: 24px;
	height: 150px;
	margin-top: 16px;
}

.container-footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.logo-footer:hover {
	filter: brightness(0) saturate(100%) invert(95%) sepia(93%) saturate(0%) hue-rotate(260deg) brightness(85%) contrast(93%);
}

footer ul li {
	list-style: none;
}

.container-icons-social-media {
	display: flex;
	align-items: center;
}

a.footer {
	text-decoration: none;
	color: white;
}

a.footer:hover {
	color: var(--hover-light-grey);
	text-decoration: underline;
}

.a-icon img {
	display: block;
}

.a-icon img:hover {
	filter: brightness(0) saturate(100%) invert(95%) sepia(93%) saturate(0%) hue-rotate(260deg) brightness(85%) contrast(93%);
}

/* ----------- 1280-WIDTH */
@media only screen and (min-width: 1280px) {
	footer {
		width: 1260px;
	}
}

/* ----------- 960-WIDTH */
@media (max-width: 1279px) {
	footer {
		width: 940px;
		padding: 0 32px;
	}
}

/* ----------- 600-WIDTH */
@media only screen and (max-width: 959px) {
	footer {
		width: 580px;
		padding: 16px;
		height: auto;
	}

	.container-footer {
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-areas:
			"logo . ."
			"others leistungen ueber_uns"
			"social-media social-media social-media";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto auto;
	}

	.logo-footer {
		grid-area: logo;
		margin-top: 8px;
		align-self: center;
		justify-self: start;
		padding-left: 32px;
	}

	/* .container-footer a {
		padding-left: 16px;
	} */

	footer .container-icons-social-media {
		grid-area: social-media;
		align-self: center;
		justify-self: center;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	.others {
		grid-area: others;
		margin: 16px 0;
	}

	.leistungen {
		grid-area: leistungen;
		margin: 16px 0;
	}

	.ueber-uns {
		grid-area: ueber_uns;
		margin: 16px 0;
	}
}
/* ----------- 320-WIDTH */
@media only screen and (max-width: 599px) {
	footer {
		width: 300px;
		height: auto;
	}

	.logo-footer {
		align-self: center;
		margin-bottom: 8px;
		margin-top: 0;
		padding: 0;
	}

	.container-footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 16px 0;
		align-items: center;
	}

	footer .container-icons-social-media {
		margin-top: 16px;
	}

	.others {
		margin: 8px 0;
		padding-left: 0;
	}

	.leistungen {
		margin: 8px 0;
	}

	.ueber-uns {
		margin: 8px 0;
	}

	footer ul {
		margin-bottom: 16px;
		text-align: center;
	}
}
