/* #################### */
/* HEADER & NAV */
/* #################### */

header {
	grid-area: header;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: flex-start;
	position: relative;
}

.logo-container {
	display: flex;
	align-items: center;
	width: 142px;
	margin-left: 64px;
	margin-right: 128px;
}

.logo {
	display: inline-block;
	position: relative;
	top: -2px;
	z-index: 5;
}

.logo:hover {
	filter: brightness(0) saturate(100%) invert(33%) sepia(54%) saturate(0%) hue-rotate(249deg) brightness(95%) contrast(99%);
}

nav {
	display: flex;
	width: 100%;
	padding: 16px 0;
	height: 100px;
	align-items: center;
}

.nav-elements {
	display: flex;
	align-items: center;
	z-index: 5;
}

.container-icons-social-media-navi {
	display: flex;
	width: 144px;
	margin-right: 96px;
}

/* .container-icons-social-media-navi a {
	animation: fadein 0.3s;
	animation-fill-mode: both;
}

.container-icons-social-media-navi a:nth-child(1) {
	animation-delay: 0.1s;
}

.container-icons-social-media-navi a:nth-child(2) {
	animation-delay: 0.2s;
}

.container-icons-social-media-navi a:nth-child(3) {
	animation-delay: 0.3s;
} */

nav .icon-social-media {
	width: 48px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a {
	margin: 0;
	padding: 0;
}

nav .icon-social-media:hover {
	filter: brightness(3);
}

.dropdown-icon {
	margin-bottom: 2px;
	margin-left: 4px;
	width: 10px;
	height: 6px;
	display: inline-block;
}

.link {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}

#leistungen-link {
	display: flex;
	align-items: center;
	width: 128px;
	height: 32px;
	margin-right: 32px;
}

#ueber-uns-link {
	display: flex;
	align-items: center;
	width: 96px;
	height: 32px;
	margin-right: 128px;
}

#leistungen-link:hover,
#ueber-uns-link:hover {
	color: var(--hover-light-grey);
}

.link-links {
	width: 48px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 32px;
}

#btn-open-calculator-navi {
	width: 160px;
}

/* #################### */
/* DROPDOWN MENU */
/* #################### */

.dropdown-wrapper {
	display: none;
	position: absolute;
	width: 1260px;
	top: 0;
	min-height: 160px;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 4;
	animation: fadein 0.3s;
	border-bottom: 1px solid var(--default-grey);
}

.dropdown-wrapper ul {
	margin-top: 75px;
}

.dropdown-wrapper li {
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 16px;
	display: table;
	text-transform: uppercase;
	color: var(--default-grey);
}

.leistungen-sublinks,
.ueber-uns-sublinks {
	font-size: 14px;
}

.leistungen-sublinks {
	margin-left: 334px;
}

.ueber-uns-sublinks {
	margin-left: 494px;
}

/* ----------- 1280-WIDTH */
@media only screen and (min-width: 1280px) {
}

/* ----------- 960-WIDTH */
@media (max-width: 1279px) {
	header {
		justify-content: space-between;
	}

	.logo-container {
		margin-left: 16px;
		margin-right: 32px;
	}

	.icon-facebook {
		margin-left: 20px;
	}

	.links-link {
		margin-left: 20px;
	}

	.dropdown-wrapper {
		width: 940px;
	}

	.leistungen-sublinks {
		margin-left: 190px;
	}

	.ueber-uns-sublinks {
		margin-left: 352px;
	}

	#ueber-uns-link {
		margin-right: 32px;
	}

	.container-icons-social-media-navi {
		margin-right: 32px;
	}
}

/* ----------- 600-WIDTH */
@media only screen and (max-width: 959px) {
}
/* ----------- 320-WIDTH */
@media only screen and (max-width: 599px) {
}
