.wrapper {
	grid-template-columns: 47% 53%;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"header header"
		"txt picture"
		"cards cards"
		"footer footer";
}

.gradient {
	grid-column: 1/3;
	grid-row: 1/3;
	background: linear-gradient(270.31deg, #ffffff 0.25%, rgba(255, 255, 255, 0) 99.71%), #c4c4c4;
	background-repeat: no-repeat;
}

#photo-wackwitz {
	height: 100%;
	position: absolute;
}

section.picture.index {
	justify-content: flex-end;
	align-items: flex-end;
	padding-top: 0px;
}

section.cards {
	width: 1260px;
	grid-area: cards;
	padding: 0 64px 16px 64px;
	background-color: white;
	border-top: 1px solid #bfbfbf;
	/* border-bottom: 1px solid #bfbfbf; */
	display: flex;
	margin-top: 16px;
	animation: fadein 1s;
	flex-direction: column;
}

.cards-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	flex-wrap: wrap;
}

.card {
	width: 264px;
	height: 380px;
	margin: 4px 4px;
	background: #ffffff;
	border: 1px solid #bfbfbf;
	box-shadow: 6px 6px 29px -13px rgba(0, 0, 0, 0.25);
	border-radius: 18px;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-shrink: 0;
}

.card-header {
	flex-shrink: 0;
	height: 64px;
	background: #e5e5e5;
	font-family: Merriweather;
	font-size: 18px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardbody {
	padding: 8px 30px;
	text-align: center;
	height: 100%;
}
.cardbody button {
	border: 1px solid red;
}

h1.cardheadline {
	font-size: 18px;
	font-weight: 600;
	margin-top: 8px;
}

p.cardcopy {
	line-height: 22px;
	white-space: normal;
	margin: 0;
	padding-top: 16px;
	padding-bottom: 32px;
}

.btn.outline.card {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

/* ----------- 1280-WIDTH */
@media only screen and (min-width: 1280px) {
	#photo-wackwitz {
		width: 816px;
		height: 715px;
	}
}

/* ----------- 960-WIDTH */
@media (max-width: 1279px) {
	.wrapper {
		grid-template-columns: 63% 37%;
	}

	#photo-wackwitz {
		width: 736px;
		height: 644px;
		right: -140px;
	}

	.cards-wrapper {
		justify-content: flex-start;
	}

	section.cards {
		width: 940px;
	}
}

/* ----------- 600-WIDTH */
@media only screen and (max-width: 959px) {
	.wrapper {
		grid-template-rows: 80px auto auto auto 180px;
		grid-template-columns: 100%;
		grid-template-areas:
			"header"
			"picture"
			"txt"
			"cards"
			"footer";
	}

	section.cards {
		padding: 0;
		padding-bottom: 16px;
		align-items: center;
		width: 580px;
	}

	.cards-wrapper {
		justify-content: center;
	}

	#photo-wackwitz {
		width: 542px;
		height: 474px;
		right: auto;
		position: relative;
	}
}
/* ----------- 320-WIDTH */
@media only screen and (max-width: 599px) {
	.wrapper {
		grid-template-rows: 60px auto auto auto;
	}

	#photo-wackwitz {
		width: 288px;
		height: 252px;
	}

	section.cards {
		width: 300px;
	}
}
