<!-- regular navigation -->
<nav>
	<img class="logo" src="../../static/images/logo_grey.svg" alt="" />
	<ul>
		<li id="leistungen-link">
			Leistungen<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
		</li>
		<li id="ueber-uns-link">
			Über Uns<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
		</li>
		<li class="social-media-icon facebook-icon">
			<a href="#"><img src="../../static/images/icon_facebook.svg" alt="" /></a>
		</li>
		<li class="social-media-icon">
			<a href="#"><img src="../../static/images/icon_twitter.svg" alt="" /></a>
		</li>
		<li class="social-media-icon">
			<a href="#"><img src="../../static/images/icon_instagram.svg" alt="" /></a>
		</li>
		<li class="links-link"><a href="#">Links</a></li>
		<li><button class="btn outline">Preisrechner</button></li>
	</ul>
	<div class="dropdown-wrapper">
		<ul class="leistungen-sublinks">
			<li><a href="#">Korrekturen</a></li>
			<li><a href="#">Lektorat</a></li>
			<li><a href="#">Bewerbungen</a></li>
			<li><a href="#">Leichte Sprache</a></li>
			<li><a href="#">Test 1</a></li>
			<li><a href="#">Test 2</a></li>
		</ul>
		<ul class="ueber-uns-sublinks">
			<li><a href="#">Netzwerk</a></li>
			<li><a href="#">Die Letzten Leser</a></li>
			<li><a href="#">Netzwerkpartner werden</a></li>
			<li><a href="#">Wackwitz</a></li>
		</ul>
	</div>
</nav>

<!-- hamburger menu -->

<div class="hamburger-wrapper">
	<div class="hamburger-logo-container">
		<img id="hamburger-logo" src="../../static/images/logo_grey.svg" alt="" />
	</div>

	<div class="hamburger-preisrechner-btn-container">
		<li><button class="btn outline">Preisrechner</button></li>
	</div>

	<div class="hamburger-links-container">
		<span class="hamburger-category">Leistungen</span>
		<ul class="hamburger-leistungen">
			<a href="#"><li>Korrekturen</li></a>
			<a href="#"><li>Lektorat</li></a>
			<a href="#"><li>Bewerbungen</li></a>
			<a href="#"><li>Leichte Sprache</li></a>
		</ul>
		<span class="hamburger-category">Über Uns</span>
		<ul class="hamburger-ueber-uns">
			<a href="#"><li>Netzwerk</li></a>
			<a href="#"><li>Die Letzten Leser</li></a>
			<a href="#"><li>Netzwerkpartner werden</li></a>
			<a href="#"><li>Wackwitz</li></a>
		</ul>
		<div class="hamburger-social-media">
			<a href="#"><img src="../../static/images/icon_facebook.svg" alt="Icon Facebook" /></a>
			<a href="#"><img src="../../static/images/icon_twitter.svg" alt="Icon Twitter" /></a>
			<a href="#"><img src="../../static/images/icon_instagram.svg" alt="Icon Instagram" /></a>
		</div>
	</div>

	<div class="hamburger-icon-container">
		<img id="hamburger-icon" src="../../static/images/icon_hamburger_grey.svg" alt="" />
	</div>
</div>
