<nav>
	<img class="logo" src="../../static/images/logo_grey.svg" alt="" />
	<ul>
		<li id="leistungen-link">
			Leistungen<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
		</li>
		<li id="ueber-uns-link">
			Über Uns<img class="dropdown-icon" src="../../static/images/icon_dropdown_arrow.svg" alt="" />
		</li>
		<li class="social-media-icon facebook-icon">
			<a href="#"><img src="../../static/images/icon_facebook.svg" alt="" /></a>
		</li>
		<li class="social-media-icon">
			<a href="#"><img src="../../static/images/icon_twitter.svg" alt="" /></a>
		</li>
		<li class="social-media-icon">
			<a href="#"><img src="../../static/images/icon_instagram.svg" alt="" /></a>
		</li>
		<li class="links-link"><a href="#">Links</a></li>
		<li><button class="btn outline">Preisrechner</button></li>
	</ul>
	<div class="dropdown-wrapper">
		<ul class="leistungen-sublinks">
			<li><a href="#">Korrekturen</a></li>
			<li><a href="#">Lektorat</a></li>
			<li><a href="#">Bewerbungen</a></li>
			<li><a href="#">Leichte Sprache</a></li>
			<li><a href="#">Leichte Sprache</a></li>
			<li><a href="#">Leichte Sprache</a></li>
		</ul>
		<ul class="ueber-uns-sublinks">
			<li><a href="#">Netzwerk</a></li>
			<li><a href="#">Die Letzten Leser</a></li>
			<li><a href="#">Netzwerkpartner werden</a></li>
			<li><a href="#">Wackwitz</a></li>
		</ul>
	</div>
</nav>
